@import url('./variables.scss');
$grey: #F7F7F7;
$black: #000000;
$ash: #747474;
$red: red;
$btn_green: #006763;
.body{
    height: 100vh;
    background-color: $black;
}
.auth__body{
    height: 100vh;
}
.red{
    background-color: red;
}
.link{
    color: #747474 !important;
    text-decoration: none!important;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}
.font__x__sm{
    font-size: 0.7em 
}
.font__md__sm{
    font-size: 0.8em!important;
}
.font__sm{
    font-size: 0.9em !important;
}
.font__x__md{
    font-size: 1em;
}
.font__md{
    font-size: 1.2em;
}
.font__bg{
    font-size: 1.4em
}
.font__xmax{
    font-size: 2em
}
.font__bold{
    font-weight: bold;
}
.wid__100{
    width: 100% !important;
} 
.text__no__overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.grey__bg{
    background-color: #F7F7F7;
}
.grey__text{
    color: #747474;
}
.auth__input__reg{
    background-color: #F7F7F7;
    width: 100%;
    border-radius: 10px;
    outline: none;
    height: 33px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.8em;
}
#vti__input{
    background-color: #F7F7F7;
    width: 100%;
    border-radius: 10px;
    outline: none;
    height: 33px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.8em;
}
.auth__input{
    background-color: #F7F7F7;
    width: 75%;
    border-radius: 10px;
    outline: none;
    height: 33px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.8em;
    border: 1px solid #333333;
}
label{
    color: #333333;
    font-size: 0.8em;
}
.no__link__style{
    text-decoration: none;
}
.green__vbtn{
    background-color: #006763 !important;
    color: #ffffff !important;
    outline: none;
}
.green__btn{
    background-color: #006763 !important;
    color: #ffffff;
    border-radius: 12px;
    outline: none;
}
.black__text{
    color: #000000;
}
.green__text{
    color: #006763;
}
.active__link{
    border-bottom: 2px solid #000000;
    color: #000000 !important;
    padding-bottom: 5px;
    text-decoration: none !important;
}
.sidebar{
    height: 100vh;
    height: 100%;
    overflow: none !important;
    background-color: #ffffff;
    position: fixed;
    width: 15%;
}
.app__body{
    flex: 8;
    background-color: #E5E5E5;
    overflow-x: hidden; 
    overflow-y: hidden;
    min-height: 100vh;
}
li{
    list-style: none;
    cursor: pointer;
}
.active__signal{
    height: 20px;
    background: #006763;
    width: 4px;
    border-radius: 12px 0px 0px 12px;
}
.active__route{
    color: #000000 !important;
}
.top__nav{
    background-color: #E5E5E5;
    color: #747474;
    position: fixed;
    width: 87%;
    margin-left: 2%;
    z-index: 17;
    top: 0;
}
.box__shadow{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
}
.transparent{
    background: transparent;
    border: transparent;
    outline: none;
}
.search__cont{
    background-color:  #EBEBEB;
    color: #000000;
    border-radius: 4px;
    font-size: 0.8em;
    width: 250px;
    height: 30px;
}
.white__bg{
    background-color: #ffffff;
}
.circle{
    border-radius: 50%;
}
.border__radius{
    border-radius: 7px !important;
}
.border__bottom{
    border-bottom: 1px solid #E5E5E5;
}
.overview__section{
    border-right: 1px solid  #E1E1E1;
}
.h__90{
    height: 90vh
}
.h__90__percent{
    height: 90% !important;
}
.h__70{
    min-height: 70vh;
}
.overflow{
    overflow-y: auto;
}
.invite__btn{
    background: #006763;
    border-radius: 4px;
    color: #ffffff !important;
    width: 150px;
}
.white__text{
    color: #ffffff;
}
#modal {
    position: fixed;
    z-index: 40;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 5%;
}
.img__change{
    margin-left: -20px;
    padding: 4px;
    width: 20px;
    display: flex;

    padding-top: 0px;
}
.green__border__btn{
    background: #FFFFFF !important;
    border: 1px solid #006763;
    color: #006763;
}
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}
.loader{
    background-color: #E7E7E9;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    height: 18px;
    width: 100%;
    padding: 2px !important;
}
.green__loader{
    background-color: #006763;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    height: 18px;
    padding: 2px !important;
}
.green__bullet{
    background-color: #006763;
    width: 6px;
    height: 6px;
    border-radius: 50%;

}
.hide{
    display: none;
}
.upload__box{
    border: 1px dashed #C3C4C7;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
    height: 40%;
}
.wid__full{
    width: 97% !important;
}
.green__left__border{
    border-left: 4px solid #006763;
    border-radius: 4px !important;
}
.open__status{
    background-color: #EEFFF9;
    border-radius: 25px;
    color: #00CF85;
}
.table__btn{
    border-radius: 12px 0px 0px 0px;
    width: 40%;
    background: #E2E2E2;
    outline: none;
    color: #747474;
}
.active__table__btn{
    background: #F1F1F1;
    color: #000000;
}
.table__bg{
    background: #ffffff;
    border-radius: 0%;
    width: 80%;
}
.blue__tbl__btn{
    background: #407BFF!important;
    color: #ffffff!important;
    font-size: 0.8em!important;
}